{% extends 'hello/example.html' %}

{% block title %}
    Cоздание наряда-допуск


{% endblock %}
{% block content %}
<form method="post" action="submitPermit/">

    <div class="container-fluid">
        <p class="text-start">Наряд допуск выдал: {{permit.director}}
        <p class="text-start">Руководитель работ: {{permit.master_of_work}} </p>
        <p>Производитель работ: {{permit.executor}} {{new_permit.executor}}</p>
        <p>Допускащий к работе: {{permit.daily_manager}} {{shiftManagerName}}</p>
        <p>Название работы: {{ permit.work_description }} </p>
        <p>Дата начала работы: {{ permit.start_of_work }} {{work.timeStart}}</p>
        <p>Дата окончания работы: {{ permit.end_of_work}} {{work.timeEnd}}</p>
        <p>Особые условия: {{ permit.condition }}</p>
        <p>Дата выдачи наряда: {{permit.dateDelivery}}</p>
        <a href="add_permit_in_bd/">Сформировать наряд-допуск</a>
    </div>
</form>
{% endblock %}