{% extends 'hello/example.html' %}

{% block title %}
Текущие наряды-допуски
{% endblock %}

{% block content %}

<h1 class="mt-3">Наряды-допуски на согласовании</h1>
{% if permit_list_open %}
<table class="table table-sm table-striped table-bordered mt-4">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Номер наряда</th>
        <th scope="col">Действие</th>
        <th scope="col">Руководитель работ</th>
        <th scope="col">Работа</th>
        <th scope="col">Дата начала работы</th>
        <th scope="col">Дата окончания работы</th>
        <th scope="col">Скачать файл</th>
        <th scope="col">Подпись</th>
    </tr>
    </thead>
    <tbody>
    {% for permit in permit_list_open %}
    <tr>
        <td>{{ permit.number }}</td>
        <td> {{ permit.action }}</td>
        <td>{{ permit.master_of_work.name }}</td>
        <td>{{ permit.work_description }}</td>
        <td>{{ permit.start_of_work|date:"d.m.Y H:i" }}</td>
        <td>{{ permit.end_of_work|date:"d.m.Y H:i" }}</td>
        <td><a href="{{ permit.download_link }}">Скачать</a></td>
        <td>
            <!-- Modal -->
            <div class="modal fade" id="signPermit{{ permit.number }}" tabindex="-1" aria-labelledby="signPermitModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="{% url 'update_permit_status' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="mb-3">

                                    <label for="private_key" class="form-label">Введите приватный ключ</label>
                                    <input type="text" class="form-control" id="private_key" name="private_key"
                                           required>
                                    <input type="hidden" name="permit_number" value="{{ permit.number }}">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm">Подписать</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signPermit{{ permit.number }}">
                Подписать
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="mt-4">Документов на согласовании нет.</p>
{% endif %}
{% if permit_list_close %}
<table class="table table-sm table-striped table-bordered mt-4">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Номер наряда</th>
        <th scope="col">Действие</th>
        <th scope="col">Руководитель работ</th>
        <th scope="col">Работа</th>
        <th scope="col">Дата начала работы</th>
        <th scope="col">Дата окончания работы</th>
        <th scope="col">Скачать файл</th>
        <th scope="col">Подпись</th>
    </tr>
    </thead>
    <tbody>
    {% for permit in permit_list_close %}
    <tr>
        <td>{{ permit.number }}</td>
        <td> {{ permit.action }}</td>
        <td>{{ permit.master_of_work.name }}</td>
        <td>{{ permit.work_description }}</td>
        <td>{{ permit.start_of_work|date:"d.m.Y H:i" }}</td>
        <td>{{ permit.end_of_work|date:"d.m.Y H:i" }}</td>
        <td><a href="{{ permit.download_link }}">Скачать</a></td>
        <td>
            <!-- Modal -->
            <div class="modal fade" id="signPermit{{ permit.number }}" tabindex="-1" aria-labelledby="signPermitModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" action="{% url 'update_permit_status' %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="mb-3">

                                    <label for="private_key" class="form-label">Введите приватный ключ</label>
                                    <input type="text" class="form-control" id="private_key" name="private_key"
                                           required>
                                    <input type="hidden" name="permit_number" value="{{ permit.number }}">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary btn-sm">Подписать</button>-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signPermit{{ permit.number }}">
                Подписать
            </button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p class="mt-4">Нарядов на закрытие нет.</p>
{% endif %}

{% endblock %}

