{% extends 'hello/example.html' %}

{% block title %}
    Информация наряда-допуска


{% endblock %}
{% block content %}
    <div>
        <dl class="row">
      <dt class="col-sm-3">Номер наряда:</dt>
      <dd class="col-sm-9">{{ permit.number }}</dd>

      <dt class="col-sm-3">Статус:</dt>
      <dd class="col-sm-9">
        {{ permit.status }}
      </dd>

      <dt class="col-sm-3">Руководитель работ:</dt>
      <dd class="col-sm-9">{{ permit.master_of_work }}</dd>

      <dt class="col-sm-3">Наряд выдал:</dt>
      <dd class="col-sm-9">
        {{ permit.director }}
      </dd>

      <dt class="col-sm-3">Дежурный инженер станции:</dt>
      <dd class="col-sm-9">
        {{ permit.station_engineer }}
      </dd>

      <dt class="col-sm-3">Начальник смены:</dt>
      <dd class="col-sm-9">
        {{ permit.daily_manager }}
      </dd>

      <dt class="col-sm-3 text-truncate">Поручается выполнить:</dt>
      <dd class="col-sm-9">{{ permit.work_description }}</dd>

      <dt class="col-sm-3">Начало работы:</dt>
      <dd class="col-sm-9">
        {{ permit.start_of_work }}
      </dd>

      <dt class="col-sm-3">Окончание работы:</dt>
      <dd class="col-sm-9">
        {{ permit.end_of_work }}
      </dd>
</dl>
    </div>
    <br>
    <br>
    <div><p>Подписи</p></div>
    <div>
        {% if master %}
        <ol class="list-group list-group-numbered">

            <li class="list-group-item"><strong>Пользователь:</strong>  {{ master.name }} <strong>Дата подписи:</strong> {{ master.date_sign }}
                <strong>Блок транзакции № {{ master.sign }}</strong><br> </li>

            <li class="list-group-item"><strong>Пользователь:</strong>  {{ director.name }} <strong>Дата подписи:</strong> {{ director.date_sign }}
                <strong>Блок транзакции № {{ director.sign }}</strong><br> </li>

            <li class="list-group-item"><strong>Пользователь:</strong>  {{ stateEng.name }} <strong>Дата подписи:</strong> {{ stateEng.date_sign }}
                <strong>Блок транзакции № {{ stateEng.sign }}</strong><br> </li>

            <li class="list-group-item"><strong>Пользователь:</strong>  {{ dailyMan.name }} <strong>Дата подписи:</strong> {{ dailyMan.date_sign }}
                <strong>Блок транзакции № {{ dailyMan.sign }}</strong><br> </li>

            <li class="list-group-item"><strong>Пользователь:</strong>  {{ executor.name }} <strong>Дата подписи:</strong> {{ executor.date_sign }}
                <strong>Блок транзакции № {{ executor.sign }}</strong><br> </li>
         </ol>
        {% else %}
        <p>Этот наряд никто не подписывал</p>
    </div>
        {% endif %}


{% endblock %}


